.checkout-page-form-container {
    justify-content: space-between;
}

.checkout-page-payment-button-row {
    display: flex;
    justify-content: center;
}

.checkout-page-payment-button {
    text-align: end;
}