.checkout-page-card {
    background-color: #d3d3c1 !important;
    margin-top: 32px;
    box-shadow: 10px 5px 5px grey;

}

.checkout-page-form-container {
    justify-content: space-between;
}

.checkout-page-payment-button-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-page-payment-button {
    background-color: darkslategray;
}

.checkout-page-payment-button:hover {
    background-color: rgb(62, 102, 102);
}